﻿@{
    ViewData["Title"] = "empleado_demo";
    ViewData["Persona"] = "Persona";
    ViewData["Puesto"] = "Puesto";   
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div>
        @*@Html.Action("GetClientsDummy", "Process")*@
    </div>
    <div>
        @*@Html.Action("GetMerchantsDummy", "Process")*@
    </div>   
</body>
</html>
