﻿@model IEnumerable<empleados_demo.Models.Operation.PersonaDTO>
@{

}
<div>
    <h4>Empleados y Puestos</h4>
    <div class="row">
        <div class="col-lg-6">
            <input type="text"/>Filtro
        </div>
        <div class="col-lg-6">
            <input type="button" />Agregar registro
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <table class="table">
                <tr>
                    <td>
                        Id
                    </td>
                    <td>
                        Nombre
                    </td>
                </tr>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        dummy
                    </td>
                 
                </tr>
                @*@foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => (int)item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                        </tr>
                    }*@
            </table>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-12">
                    <input type="text" />Id
                </div>
                <div class="col-lg-12">
                    <input type="text" />Nombre
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <input type="button" />Submit
        </div>
    </div>
</div>
