﻿@model IEnumerable<empleados_demo.Models.Operation.PersonaDTO>
@{

}
<div>
    <h4>Personas</h4>
    <div class="row">
        <div class="col-lg-6">
            <input type="text">Filtro</input>
        </div>
        <div class="col-lg-6">
            <input type="button" />Agregar registro
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <table class="table">
                <tr>
                    <td>
                        Id
                    </td>
                    <td>
                        Nombre
                    </td>
                    <td>
                        Apellido
                    </td>
                    <td>
                        Fecha Nacimiento
                    </td>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ApellidoP)
                        </td>
                        <td>
                            @item.FechaNacimiento.ToShortDateString()
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-12">
                    <input type="text" />Id
                </div>
                <div class="col-lg-12">
                    <input type="text" />Nombre
                </div>
                <div class="col-lg-12">
                    <input type="text" />Apellido
                </div>
                <div class="col-lg-12">
                    <input type="text" />Fecha Nacimiento
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <input type="button" />Submit
        </div>
    </div>
</div>
